<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/carrousel.css" />
    <link rel="stylesheet" href="/js/carrousel.js" />
    <title>Detalle de producto</title>
</head>

<body>
    <header>
        <div class="head2">
            <div class="head1">
                <a href=https://www.facebook.com/ target="_blank"> <i class="fab fa-facebook"></i> </a>
                <a href=https://twitter.com/ target="_blank"><i class="fab fa-twitter"></i> </a>
                <a href=https://www.youtube.com/ target="_blank"><i class="fab fa-youtube"></i></a>
                <a href=https://www.linkedin.com/feed/ target="_blank"> <i class="fab fa-linkedin-in"></i> </a>
            </div>

            <input type="text" placeholder="Buscar Estudios" />

            <div class="head1">
                <h5>4587-9652</h5>
                <a href="#"><i class="fas fa-user-circle"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <div class="box2">
            <img id="logo1" src="/img/Logo.png" alt="DigitalLab" />

            <ul class="head3">
                <li><a href="">Home</a></li>
                <li><a href="">Estudios</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Sedes</a></li>
                <li><a href="">Contacto</a></li>

            </ul>
        </div>
    </header>
    <main>
        <section class="producto-detalle-parte-superior">
            <!--Primer Cuadrante-->
            <div class="test-detalle-primer-cuadrante">
                <h3>Titulo del Test</h3>
                <img src="/img/producto-wireframe.png" alt="Producto" id="producto-detalle" width="75%">
            </div>

            <div class="test-detalle-segund-cuadrante">
                <!--Segundo Cuadrante-->
                <h3>Detalle del Test</h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga corrupti unde minima! Consectetur minima veritatis possimus, repellat velit, similique minus quis placeat ipsum, alias expedita saepe assumenda perferendis quaerat veniam! Lorem ipsum, dolor
                sit amet consectetur adipisicing elit. Fuga corrupti unde minima! Consectetur minima veritatis possimus, repellat velit, similique minus quis placeat ipsum, alias expedita saepe assumenda perferendis quaerat veniam! Lorem ipsum, dolor
                sit amet consectetur adipisicing elit. Fuga corrupti unde minima! Consectetur minima veritatis possimus
            </div>

        </section>
        <section class="producto-detalle-parte-inferior">
            <div class="test-detalle-tercer-cuadrante">
                <!--Tercer Cuadrante-->
                <h3>Antes del Test</h3>
                <ul>
                    <li>Recomendación 1</li>
                    <li>Recomendación 2</li>
                    <li>Recomendación 3</li>
                    <li>Recomendación 4</li>
                    <li>Recomendación 5</li>
                </ul>
            </div>
            <div class="test-detalle-cuarto-cuadrante">
                <!--Cuarto Cuadrante-->

                <div class="cuarto-cuadrante-parte-superior">
                    <h3>Opciones del Test</h3>
                    <label for="opciones-del-test">Opciontes del Test</label>
                    <input type="checkbox" name="opciones-del-test" value="Opcion 1">Opcion 1
                    <input type="checkbox" name="opciones-del-test" value="Opcion 2">Opcion 2
                    <input type="checkbox" name="opciones-del-test" value="Opcion 3">Opcion 3
                    <input type="checkbox" name="opciones-del-test" value="Opcion 4">Opcion 4
                    <input type="checkbox" name="opciones-del-test" value="Opcion 5">Opcion 5
                </div>

                <div class="cuarto-cuadrante-parte-inferior">
                    <div class="precio-test">
                        Precio: $$$.-
                    </div>
                    <div class="boton-orden-test">
                        <form action="" method="#">
                            <button type="submit">Botón Orden de Test</button>
                        </form>
                    </div>
                </div>

            </div>
        </section>
    </main>
    <footer>
        <div class="footer1">
            <div>
                <h3>Nuestros Estudios</h3>
                <nav id="footer3">
                    <ul>
                        <li>
                            <a href="#" target="_blank">Estudio 1</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Estudio 2</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Estudio 3</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Estudio 4</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Estudio 5</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" target="_blank">Estudio 6</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Estudio 7</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Estudio 8</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Estudio 9</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Estudio 10</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <h3>Nosotros</h3>
                <nav class="footer2">
                    <ul>
                        <li>
                            <a href="#" target="_blank">Enlace 1</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Enlace 2</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Enlace 3</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <h3>Contacto</h3>
                <nav>
                    <ul class="footer2">
                        <li>
                            <a href="#" target="_blank">Contacto 1</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Contacto 2</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <h3>Nuestras Sedes</h3>
                <nav>
                    <ul class="footer2">
                        <li>
                            <a href="#" target="_blank">Sede 1</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Sede 2</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Sede 3</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Sede 4</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Sede 5</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="regist">
            <i class="far fa-registered"></i>
            <p>2021 DigitalLab derechos reservados</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga corrupti unde minima! Consectetur minima veritatis possimus, repellat velit, similique minus quis placeat ipsum, alias expedita saepe assumenda perferendis quaerat veniam! Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Fuga corrupti unde minima! Consectetur minima veritatis possimus, repellat velit, similique minus quis placeat ipsum, alias expedita saepe assumenda perferendis quaerat veniam! Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Fuga corrupti unde minima! Consectetur minima veritatis possimus, repellat velit, similique minus quis placeat ipsum, alias expedita saepe assumenda perferendis quaerat veniam!
            </p>
        </div>
    </footer>
</body>

</html>