ul {
    list-style: none;
    padding: 0%;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f1f1f1b7;
}

header {
    background-color: #9ba4c2;
}

img {
    display: block;
    margin: auto;
}

.head1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10vw;
}

.head2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
}

.head3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
}

#logo1 {
    display: flex;
    flex-direction: row;
    float: left;
}

.box2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: #abb5d6;
}

.footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer2 {
    display: flex;
    flex-direction: column;
}

#footer3 {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#regist {
    padding: 5px;
    width: 100%;
    text-align: justify;
}


/*CSS Correspondiente a Detalle de Productos*/

.precio-test {
    color: green;
    font-weight: bold;
    font-size: 1.25rem;
}

.producto-detalle-parte-superior,
.producto-detalle-parte-inferior {
    display: flex;
    margin: 1%;
}

.producto-detalle-primer-cuadrante {
    width: 50%;
    margin: 1%;
}

.cuarto-cuadrante-parte-inferior {
    display: flex;
}