<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/header.ejs") %>

            <main>
                <center>
                    <img src="/img/404-error.png" width="50%" />
                </center>
            </main>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>