<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <section id= "detalle-producto" >
          <div class="test-detalle-primera-mitad">
              <!--Izquierda-->
                  <h3>
                      Admin Administrador
                  </h3>
                  <img src="/img/foto-perfil.jpg" alt="imagen usuario" id="producto-detalle" width="300px" />
          </div>
          <div class = "test-detalle-segunda-mitad">
              <div class="test-detalle-segund-cuadrante">
                  <!--1er derecha-->
                <div>
                    <h3>DNI</h3>
                    <p>32.621.152</p>
                </div>
                <div>
                    <h3>Fecha de nacimiento</h3>
                    <p> 23/11/1985</p>
                </div>
                  
              </div>
              <div class="test-detalle-tercer-cuadrante">
                  <!--2do derecha-->
                  <div>
                    <h3>Género</h3>
                    <p>Masculino</p>
                  </div>
                  <div>
                    <h3>Correo</h3>
                  <p>ejemplo@gmail.com</p>
                  </div>
                  
              </div>
              <div class="test-detalle-cuarto-cuadrante">
                  <!--3er derecha-->


                     <button class="boton-orden-test" type="submit">Cambiar Contraseña</button>
                  
                  
                      
                  </div>
              </div>
          </div>
       </section>
  </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
