.estudio-comp {
    margin: 1rem;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    border-top: 2px solid #004765;
}

.img-prod {
    padding: 1rem;
    width: 400px;
    display: none;
}

.titulo-descr h3 {
    color: #004765;
    font-weight: bold;
}

.crear-estudio {
    width: 25%;
    padding: 10px;
    margin: 0 5%;
    justify-content: flex-start;
}